#=======================================#
#=============> gitignore <=============#
#=======================================#

# Ignore data in the 'Data' folder
Data/*Con*

# Ignore the markdown because it is messy 
Markdowns/*.Rmd